*, *::before, *::after{
    box-sizing: border-box;
    margin: none;
    padding: none;
}

:root{
    --color-primary : #9760d6;
    --color-white: #EEEEEE;
    --color-black: #0f1222;

}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--color-black)
}

button{
    border: none;
}

.block {
    display: block;
}